{% extends "home/layouts/base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>About Me</h1>
	<hr>
	<div class="post-container">
		<div class="post-thumb">
			<img src="{% static 'home/images/CesarAcosta.jpg' %}" alt="Cesar Acosta" class="profile-image img-responsive pull-left" id="profile_pic">
		</div>
		<div class="post-content">
			<p class="content"><span style="padding-left:5em">My</span> name is Cesar Acosta and I am currently a Senior majoring in Computer Science, minoring in Japanese at the University of Georgia.</p>
		</div>
	</div>
{% endblock %}