{% extends "home/layouts/base.html" %}
{% load staticfiles %}

{% block content %}

	<h1>Projects</h1>

	<h3><a href="https://github.com/cacosta33/Hinky">Hinky</a></h3>
	(<label>C++</label>)
	<p>This is a hangman game with the most basic AI programming, where the computer's goal is to prevent you from winning by changing the guess word.</p>

	<br \>

	<h3><a href="https://github.com/cacosta33/Game_Panel">Game Panel</a></h3>
	(<label>Java</label>)
	<p>This project is a Game Panel that includes the Games Tic-Tac-Toe and a basic version of Tetris, written in Java demonstrating the use of GUI's(Graphical User Interface).</p>

	<br \>

	<h3><a href="https://github.com/cacosta33/Unix_Shell">Unix Shell</a></h3>
	(<label>C++</label>)
	<p>This project is a basic version of the Unix Shell that implements the use of the fundamentals of Systems Programming such as threads, processes, links, pipes, etc.</p>


{% endblock %}