{% extends 'home/layouts/base.html' %}
{% block title %}Cesar's Blog{% endblock %}

{% block content %}
	<h2>Categories</h2>
	{% if categories %}
		<ul>
		{% for category in categories %}
			<li><h3><a href="{% url 'blog:blog_category' category.slug %}">{{ category.title }}</a></h3></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}

	<h2>Posts</h2>
	{% if posts %}
		<table class="table">		
			<th>Post</th>
			<th>Date Posted</th>
		{% for post in posts reversed %}
		<tr>
			<td><a href="{% url 'blog:blog_post' post.slug %}">{{ post.title }}</a></td>
			<td>{{ post.posted|date:"Y/m/d" }}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}

{% endblock %}
